<% provide(:title, 'Help') %>
 
<h1>Help</h1>
<p>Get help on the Rails Tutorial  at <a href="http://railstutorial.org/help">Rails Tutorial Help page</a>. To get help on the sample all see the book.
	</p>
 